.app-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-rows: 13fr, 10fr;
  grid-template-columns: 2fr, 10fr;
  gap: 0px 0px;
  grid-template-areas:
    "h h"
    "n p";

}

.app-wrapper-content {
  grid-area: p;
  background-color: rgb(135, 44, 44);
}