.app-wrapper{
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  /* grid-template-rows: 60px, 1fr;
  grid-template-columns: 2fr, 10fr; */
  /* -ms-grid-row-align:center */
}

.header img{
  width: 90px;
}

.header{
grid-area: h;
background-color: slategray;
}

.nav{
  grid-area: n;
  background-color:darkgray;
}

.content{
  grid-area: c;
  background-color: rgb(135, 44, 44);
}

.content img{
  width: 100%;
}
